name: Release

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
<<<<<<< HEAD
    - uses: actions/checkout@v2
=======
    - uses: actions/checkout@v1
>>>>>>> 42b0d82bff05c2ccd97f51b847e4678aa57a0e11
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install
      run: |
        npm ci
        npm run install:app
    - name: Build
      run: |
        npm run build:all
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          releases/mac.zip
          releases/linux.zip
          releases/win.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Discord notification
      env:
        DISCORD_USERNAME: GitHub
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_HOOK }}
      uses: Ilshidur/action-discord@master
      with:
        args: 'Version **{{ EVENT_PAYLOAD.release.tag_name }}** released!!'
